<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <link href="~/Content/jquery.bootgrid.css" rel="stylesheet" />
</head>
<body ng-app="alunos">
    <div class="container body-content">
        <h1 class="text-center"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span>&nbsp;App Teste</h1>
        <h2 class="text-center">Jonathas Moura</h2>
        <h3 class="text-center">Developer of Software</h3>
        <h4>Pequeno aplicativo de teste,aprimorando técnicas</h4>
    </div>
    <div class="container">
        <nav class="navbar navbar-inverse">
            <div class="container-fluid">
                <div class="navbar-header">
                    <a class="navbar-brand" href="#">Cadastros .NET</a>
                </div>
                <div>
                    <ul class="nav navbar-nav">
                        <li><a href="#">Alunos</a></li>
                        <li><a href="#">Cursos</a></li>
                        <li><a href="#">Universidades</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <div class="row panel">
        <div id="menuAlunos" class="col-xs-3">
            Menu
            <h2>Alunos</h2>
            <h2>Universidades</h2>
            <h2>Cursos</h2>
        </div>
    </div>
    <div class="col-xs-8">
        @RenderBody()
    </div>

    <script src="~/Scripts/angular.js"></script>

    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>