<div class="container" ng-controller="alunosCtrl">
    <div class="panel panel-info">
        <div class="panel-heading">Listagem de Alunos</div>

        <table class="table table-bordered center">
            <thead style="background-color: lightsteelblue">
                <tr>
                    <th>AlunoId</th>
                    <th>Nome</th>
                    <th>CursoId</th>
                    <th>Curso</th>
                </tr>
            </thead>

            <tbody>
                <tr ng-repeat="aln in Alunos">
                    <td>{{aln.AlunoId}}</td>
                    <td>{{aln.Nome}}</td>
                    <td>{{aln.CursoId}}</td>
                    <td>{{aln.Curso}}</td>
                    <td style="width: 200px">
                        <a href="#" class="btn btn-info">Atualizar</a>
                        <a href="#" class="btn btn-danger">Excluir</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{
    <script src="~/App_AngularJs/Alunos/Module.js"></script>
    <script src="~/App_AngularJs/Alunos/Service.js"></script>
    <script src="~/App_AngularJs/Alunos/Controller.js"></script>
}